<div class="">
    <h2 class="h4"><%= @agent.full_name %></h3>
    <h4> <%= @agent.company %></h4>

    <button class="btn btn-info">Call or Text</button>
    <button class="btn btn-success">Email</button>

</div>