<% @properties.each do |property| %>
   <div class="col-4">
   <%= link_to(property_thumbnail(property), property_path(property))%>
      <h4 class="h4 mt-4"><%= property.price  %></h4>
      <p><%= property.address %></p>
      <div class="amenities">
         <span></span>
         <span></span>
         <span></span>
      </div>
   </div>
<% end %>