<main>
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">All Listings</h1>
      <p class="lead text-muted">Latest real estate and property listings</p>
    </div>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
        <h3 class="mb-3">All avaliable Listings</h3>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <%= render "properties/listings", properties: @latest_properties %> 
      </div>
  </div>
</div>
</main>