.form-sigin {
    width: 100;
    max-width: 330px;
    margin: auto;
    padding: 15px;
}
.form-control {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    height: auto;
    font-size: 16px;
}
.checkbox {
    font-weight: 300px;
}