.form-sigin {
    width: 100;
    max-width: 330px;
    margin: auto;
    padding: 15px;
}
.form-control {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    height: auto;
    font-size: 16px;
}
.form-control:focus{
    z-index: 2;
}
.checkbox {
    font-weight: 300px;
}
input[type="email"]{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
input[type="password"]{
    margin-bottom: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}