.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.profile_picture {
    margin-right: 24px;
    width: 45px;
}

.media-body {
    direction: ltr;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
}

.comment {
    color: rgb(232, 230, 227);
    background-image: initial;
    background-color: rgb(50, 57, 66);
}

.comment {
    padding: 8px 24px;
    color: #fff;
    border-radius: 50px;
    background: #c1c7d0;
}

small {
    color: rgb(198, 193, 185);
}

small {
    color: #c1c7d0;
    font-size: 13px;
    margin-left: 24px;
    display: block;
    margin-top: 5px;
}

.media.support .avatar {
    margin-right: 0;
    margin-left: 24px;
}



.media.support {
    direction: rtl;
}

.message-listing {
    box-shadow:  0px 0px 5px 0px;
    background-image: initial;
    background-color: rgb(24, 26, 27);
}

.message-listing {
    -webkit-box-shadow: 0 0 5px 0;
    box-shadow: 0 0 15px 0;
    border-radius: 8px;
    padding: 20px;
    background: #fff;
}