.property-photo-main {
    height: 500px;
    background-size: cover;
    background-position-y: center;
}

#description-wrapper {
    height: 150px;
    overflow: hidden;

    &.open {
        height: auto;
    }
}