// Place all the styles related to the Public controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#notifications {
    display: none;
}

#home-banner section{
    background: image-url("images/home_banner_placeholder.png") no-repeat center center;
    color: rgb(192, 69, 69);
}