<div class="container">
    <div class="property-main-image" style="background-image: url('<%= profile_cover_image_url(@account) %>')">
        <div class="property-image-overlay">
        </div>
    </div>  
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-0 fw-bold">
                            <%= @account.full_name %>
                        </h2>
                        <h3 class="mb-2 text-muted">
                            <%= @account.company_name %>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>