<main id="home-banner">

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-bold">Home is just around the corner..</h1>
      <button class="btn btn-primary btn-lg" type="button">Search Homes</button>
    </div>
  </div>
</section>
  <section id="newest-properties" class="mb-4">
    <div class="container py-2">
      <div class="row">
      <%= render "properties/newest_properties" %>
      </div>
    </div>
  </section>  
      
</main>
  <footer class="pt-3 mt-4 text-muted border-top">
     
  </footer>
