<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to edit_account_registration_path, class: "nav-link" do %>
            Edit My Profile
          <% end %>     
      </li>
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link" do %>
            Dashboard
          <% end %>   
      </li>
      <li class="nav-item">
        <%= link_to properties_path, class: "nav-link" do %>
            Properties
            <% end %> 
      </li>
      <li class="nav-item">
          <%= link_to "My Profile", profile_path(current_account), class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>


